{
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "region": "us-south",
  "prefix": $PREFIX,
  "private_path_name": $PREFIX,
  "private_path_service_endpoints": ["vpc-pps.dev.internal"],
  "existing_secrets_manager_instance_crn": $SM_CRN
}
